{% extends 'admin/admin_base_template.html' %}

{% block admin_content %}

<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-center align-items-center">
            {% include 'components/flash_message_component.html' %}
        </div>
        <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
                <div class="container bootstrap snippets bootdey">
                    <div class="panel-body inf-content">
                        <h3 class="mt-3">Informações</h3><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div class="form-group">
                                        {% block form %}
                                        {% endblock form %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block subsections %}
                        {% endblock subsections %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock admin_content %}
