{% extends "user/base_user.html" %}

{% block title %} - Login {% endblock title %}

{% block content %}

    <main class="body">

        {% include 'components/flash_message_component.html' %}

        <div class="container d-flex pb-5">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="form-signin w-100 m-auto">
                        <form method="POST" action="{{ url_for_path(request, 'user_register') }}">
                            <h1 class="h3 mb-3 fw-bold text-center">Preencha os campos</h1>
                            {{ render_form_to_create_data(form) }}
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
                        </form>
                    </div>
                    <p>Você já tem conta? <a href="{{ url_for_path(request, 'user_login') }}">Entre aqui!</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
