
<div class="athena-modal modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-hidden="true">
  
  
  <div class="modal-dialog modal-dialog-centered" role="document">
    
    <div class="modal-content">
      
      {% include 'components/flash_message_component.html' %}

      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="{{ url_for('static', path='img/close-icon.svg') }}" alt="Close modal" />
        </div>
      </div>

      <div class="modal-body mx-3">

        <form method="POST" action="{{ url_for('user_login') }}">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="user" name="username" required>
              <label for="floatingInput">User</label>
          </div>
          <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
              <label for="floatingPassword">Password</label>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>
