<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/danbailo" aria-label="GitHub"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/danbailo" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/danbailo1/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
