{% set user_is_admin = request.scope.athena_user_is_admin %}

{% macro navbar_link(href, value) -%}
    {% set is_active = 'athena-active' if (request.path | string == href | string) else 'inactive'%}
    <li class="nav-item">
        <a id={{ is_active }} class="nav-link js-scroll-trigger {{ is_active }}" href="{{ href }}">{{ value }}</a>
    </li>
{%- endmacro %}

{% if not about %}
    {% set about = {'title': 'Sobre', 'title_slug': 'sobre'} %}
{% endif %}

{% if not for_devs %}
    {% set for_devs = {'title': 'Devs', 'title_slug': 'devs'} %}
{% endif %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ url_for_path(request, 'static', path='img/navbar-logo.svg') }}"
                alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                {% for section in get_nav_visible_sections() %}
                    {{ navbar_link('#'~section.title_slug if request.url.path == '/' else '/#'~section.title_slug, section.title) }}
                {% endfor %}

                {% if not request.user.is_authenticated %}
                    {{ navbar_link(url_for_path(request, 'user_login_page'), 'Entrar') }}
                {% else %}
                    {#{ navbar_link(url_for_path(request, 'user_features_page'), 'Features') }#}
                    {{ navbar_link(url_for_path(request, 'user_page'), 'Usuário') }}
                    {{ navbar_link(url_for_path(request, 'user_logout'), 'Sair') }}
                    {% if user_is_admin %}
                        {{ navbar_link(url_for_path(request, 'admin_home_page'), 'Admin') }}
                    {% endif %}
                {% endif%}
            </ul>
        </div>
    </div>
</nav>