{% extends 'base.html' %}

{% macro render_section(section) %}
    <div class="text-center">
        <h2 class="section-heading text-uppercase">{{ section.title }}</h2>
        <h3 class="section-subheading text-muted">{{ section.body }}</h3>
    </div>
{% endmacro %}

{% macro render_subsection(subsection, len_subsections) %}
    {% if len_subsections % 3 == 0 %}
        {% set col_numbers = 4 %}
    {% elif len_subsections % 2 == 0 %}
        {% set col_numbers = 6 %}
    {% else %}
        {% set col_numbers = 12 %}
    {% endif %}    

    <div class="col-md-{{ col_numbers }}">
        <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            {{ subsection.sub_section_link_image | safe}}
        </span>
        <h4 class="my-3">{{ subsection.sub_section_title }}</h4>
        <p class="text-muted">{{ subsection.sub_section_body }}</p>
    </div>
{% endmacro %}

{% block content %}
    {% include 'components/header_component.html' %}

    {% include 'onepage/about_onepage.html' %}
    <hr style="width: 50%;" class="mx-auto">

    {% include 'onepage/for_devs_onepage.html' %}
    <hr style="width: 50%;" class="mx-auto">

    <!-- <hr style="width: 50%;" class="mx-auto"> -->

    {% include 'components/footer_component.html' %}
{% endblock content %}