{% extends 'base.html' %}

{% macro render_subsection(subsection, len_subsections) %}
    {% if len_subsections % 3 == 0 %}
        {% set col_numbers = 4 %}
    {% elif len_subsections % 2 == 0 %}
        {% set col_numbers = 6 %}
    {% else %}
        {% set col_numbers = 12 %}
    {% endif %}    

    <div class="col-md-{{ col_numbers }}">
        <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            {{ subsection.sub_link_image | safe}}
        </span>
        <h4 class="my-3">{{ subsection.sub_title }}</h4>
        <p class="text-muted">{{ subsection.sub_body }}</p>
    </div>
{% endmacro %}

{% macro render_section(section) %}
    <section class="page-section" id="{{ section.title_slug }}">
        <div class="container">
            <div class="text-center">
                <!-- section-heading text-uppercase text-truncate -->
                <h2 class="section-heading text-uppercase">{{ section.title }}</h2>
                <h3 class="section-subheading text-muted">{{ section.body | safe }}</h3>
            </div>        
            <div class="row text-center">
                {% for subsection in section.subsections if subsection.sub_visible is true %}
                    {{ render_subsection(subsection, section.subsections | map(attribute='sub_visible') | sum) }}
                {% endfor %}
            </div>
        </div>
    </section>
    <hr style="width: 50%;" class="mx-auto">
{% endmacro %}


{% block content %}
    {% include 'components/header_component.html' %}

    {% for section in sections %}
    
        {{ render_section(section) }}

    {% endfor %}

    {% include 'components/footer_component.html' %}
{% endblock content %}